.search-container{}
.search-container label{
    font-weight: 600;
}
.search-container .custom-control{
    font-weight: normal;
}
.search-container .dropdown-toggle{
    padding-left: 10px;
    border-radius: 0px !important;
}
.search-container .dropdown.dropdown-lg .dropdown-menu {
    padding: 15px;
}
.search-container .input-group .form-control{
    width: 100%;
    border-radius: 0.25rem !important;
}
.search-container .dropdown.dropdown-lg .dropdown-menu{
    min-width: 320px;
}
.search-container .dropdown-menu{
    box-shadow: 1px 4px 8px -1px #c1c1c1;
}