<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
</body>
</html>

<div class="container">
	<video controls playsinline poster="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg">
		 <source src="C:\Users\BARAHONA\Desktop\UNIVERSIDAD\TOO\Tarea Laravel PHP\sistema-bibliotecario\public\storage\3FiNlxWOwIH48fnP1w5ZuQ3KMrZx0O4KINj1uVgT.mp4" type="video/mp4" size="576">
			<source src="C:\Users\BARAHONA\Desktop\UNIVERSIDAD\TOO\Tarea Laravel PHP\sistema-bibliotecario\public\storage\3FiNlxWOwIH48fnP1w5ZuQ3KMrZx0O4KINj1uVgT.mp4" type="video/mp4" size="720">
			<source src="C:\Users\BARAHONA\Desktop\UNIVERSIDAD\TOO\Tarea Laravel PHP\sistema-bibliotecario\public\storage\3FiNlxWOwIH48fnP1w5ZuQ3KMrZx0O4KINj1uVgT.mp4" type="video/mp4" size="1080">
	</video>
</div>
<link rel="stylesheet" href="https://cdn.plyr.io/3.4.7/plyr.css">
<script src="https://cdn.plyr.io/3.4.7/plyr.js"></script>
<script>const player = new Plyr('video', {captions: {active: true}});window.player = player;</script>